{% extends "base.html" %}
{% load staticfiles %}
{% block content %}

<div class="img-div">

  <p><a class="hovertext" href="#" title="Donald Trump"><img src='{% static 'img/trump.jpg' %}' width="200px" height="200px" class="icons"/></a></p>

  <p><a class="hovertext" href="#" title="Ben Carson"><img src='{% static 'img/carson.jpg' %}' width="200px" height="200px" class="icons"/></a></p>

  <p><a class="hovertext" href="#" title="Marco Rubio"><img src='{% static 'img/rubio.jpg' %}' width="200px" height="200px" class="icons"/></a></p>

  <p><a class="hovertext" href="#" title="Jeb Bush"><img src='{% static 'img/bush.jpg' %}' width="200px" height="200px" class="icons"/></a></p>

  <p><a class="hovertext" href="#" title="Ted Cruz"><img src='{% static 'img/cruz.jpg' %}' width="200px" height="200px" class="icons"/></a></p>

  <p><a class="hovertext" href="#" title="Hillary Clinton"><img src='{% static 'img/clinton.jpg' %}' width="200px" height="200px" class="icons"/></a></p>

  <p><a class="hovertext" href="#" title="Lawrence Lessig"><img src='{% static 'img/Lessig.jpg' %}' width="200px" height="200px" class="icons"/></a></p>

  <p><a class="hovertext" href="#" title="Martin OMalley"><img src='{% static 'img/OMalley.jpg' %}' width="200px" height="200px" class="icons"/></a></p>

  <p><a class="hovertext" href="#" title="Bernie Sanders"><img src='{% static 'img/sanders.jpg' %}' width="200px" height="200px" class="icons"/></a></p>

</div>
{% endblock %}