{% extends "base.html" %}
{% block content %}
{% if user.is_authenticated %}
<div class="intro-header">
  <div class="container">
    <div class="intro-message">
      <h1>Welcome to <span style="color:red">El Presidente!</span></h1>
    <p style="font-size:1.3em">This is an interactive website where you will be able to judge the presidential candidates. May the best candidate win!</p>
    </div>
  </div>
</div>
{% else %}
<div class="intro-header">
  <div class="container">
    <div class="intro-message">
    <h1 style="color:red">El Presidente</h1>
    <p style="font-size:1.15em">Your vote is important. We need your opinion to know who is the strongest candidate in the presidency. Make sure to strongly review each candidate.</p>
    </div>
  </div>
</div>
{% endif %}
{% endblock %}