{% extends "base.html" %}
{% block content %}
{% if user.is_authenticated %}
<div class="intro-header">
  <div class="container">
    <div class="intro-message">
      <h1>Welcome to <span style="color:red">El Presidente!</span></h1>
    <p style="font-size:1.3em">This is an interactive website where you will be able to judge the presidential candidates. May the best candidate win!</p>
    </div>
  </div>
</div>
{% else %}
<div class="intro-header">
  <div class="container">
    <div class="intro-message">
    <h1>El Presidente</h1>
    <p style="font-size:1.2em">Your vote is important. We need your opinion to know who is the strongest candidate in the presidency. Make sure to strongly review each candidate.</p>
    </div>
  </div>
</div>
    <p style="float:left; padding-right:0.4em"><a class="btn btn-lg btn-primary" href="{% url 'registration_register'   %}">Sign up</a></p>
    <p><a class="btn btn-lg btn-primary" href="{% url 'auth_login' %}">Log In</a></p>
{% endif %}
{% endblock %}