<head>
      <title>My Profile</title>
</head>
{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<img src='{% static 'img/Male.png' %}' style="float:left; padding:2em;">

<div style="padding:2em; background-color:#e5f2ff; float:left; width:75%; margin-top:3em; margin-right:1em; border-radius: 25px;">

<h1>{{ user_in_view.username }}</h1>
<p>Email: {{ user_in_view.email }}</p>
<p>Name: {{ user_in_view.first_name }} {{ user_in_view.last_name }}</p>
{% if user_in_view == user %}
<p><a href="{% url 'user_update' slug=user.username %}">Edit profile</a></p>
<p><a href="{% url 'user_delete' slug=user.username %}">Delete account</a></p>
{% endif %}


</div>
{% endblock %}